

td {
  padding: 0;
}

.table-container {
  width: 300px;
  overflow-x:auto;
}

th:first-child {
  position: sticky;
  left: 0px;
  background-color: grey;
  text-align: center;
}

td:first-child {
  position: sticky;
  left: 0px;
  background-color: grey;
  text-align: center;

}

td {
  text-align: center;
}
th {
  width: 200px;
}


table input {
  border:0;outline:0;
  width: 20px;
  background-color: #fafafa;
}
input:focus {outline:none!important;}
